.navbar-site ul li.active > a, a[aria-expanded="true"] {
    color: inherit;
    background: inherit;
    box-shadow: none;
    border-left: none;
}

@keyframes spinner-border {
    100% {
        webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-text{
    50% {
        opacity : 0.1;
    }
    100% {
        opacity : 1;
    }
}

/* ---------------------------- LOADING ---------------------------- */

.loading-table {
    text-align: center;
    height : 97vh;
    width: 100%;
}

.loading-td {
    text-align: center;
}

.loading-td h1 {
    margin-bottom : 2rem;
    font-size : 3rem;
    -webkit-animation: loading-text 1.3s linear infinite;
    animation: loading-text 1.3s linear infinite;
}

.website-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-spinner {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    vertical-align: text-bottom;
    border: 0.25em solid rgb(36, 35, 35);
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

/* ---------------------------- NAVBAR ---------------------------- */

.navbar-site {
    min-width: 390px;
}

.nav-item {
    padding-left: 7px;
    padding-right : 7px;
    border-radius: 5px;
    margin-right: 0.5rem;
    transition-duration: 0.3s;
}

.navbar-nav {
    flex-direction: initial;
}

.nav-item:hover {
    transition-duration: 0.3s;
    background : rgb(66, 66, 66)
}

.nav-item.active {
    transition-duration: 0.3s;
    box-shadow: 0px 0px 7px rgba(121,75,139,1);
    border: 1px solid rgba(121,75,139,1);
    color : white;
}

.navbar-brand {
    margin-right : 1rem;
}

.navbar-brand img {
    margin-right: 0.5rem;
}

.navbar {
    background : rgb(26, 26, 26);
    color: white;
}

.username {
    font-size: 1.1rem;
}

.username svg, .docs-btn svg {
    margin-right: 3px;
}

.discriminator {
    font-size: 0.9rem;
    color: rgb(226, 226, 226);
}

.user-dropdown::after {
    margin-right : -11px;
}

.user-dropdown:active {
    opacity: 0.8;
}

.user-dropdown:focus {
    outline : 0 !important;
}

.user-dropdown {
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding-top : 7px;
    padding-bottom : 7px;
    padding-left: 10px;
    padding-right : 25px;
}

.user-dropdown-list p {
    font-size : 1rem;
    margin-bottom : 0;
}

.dropdown-menu {
    padding: 0 !important;
    border-radius: 7px !important;
}

.dropdown-disconnect {
    border-radius: 5px;
    padding-top : 9px;
    padding-bottom : 9px;
    color: rgb(219, 48, 48);
    transition-duration: 0.3s;
}

.dropdown-disconnect:hover {
    cursor: pointer;
    color: rgb(243, 243, 243);
    background : rgb(219, 48, 48);
    transition-duration: 0.3s;
}

.docs-btn {
    background: linear-gradient(0deg, rgba(75, 85, 139, 0.7) 0%, rgb(95, 63, 122, 0.7) 100%);
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding-top : 7px;
    padding-bottom : 7px;
    padding-left: 15px;
    padding-right : 15px;
    transition: all 0.3s;
    margin-right: 0.5rem;
}

.connect-btn {
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(121,75,139,0.7) 0%, rgba(134,31,43,0.7) 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    padding-top : 7px;
    padding-bottom : 7px;
    padding-left: 15px;
    padding-right : 15px;
    transition: all 0.2s;
}

.connect-btn svg {
    margin-right: 3px;
}

.docs-btn:hover {
    background: linear-gradient(0deg, rgb(75, 85, 139) 0%, rgb(95, 63, 122) 100%);
    box-shadow: 0px 0px 10px rgb(95, 63, 122);
    transition: all 0.2s;
}

.connect-btn:hover {
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    box-shadow: 0px 0px 10px rgb(160, 45, 45);
    transition: all 0.2s;
}

/* ---------------------------- HOME ---------------------------- */

.home-infos-container {
    max-width: 1200px;
    margin-top : 4rem;
    margin-left: auto;
    margin-right: auto;
}

.home-infos {
    border: 1px solid rgb(194, 193, 193);
    margin-bottom : 2rem;
    background: rgb(245, 245, 245);
    box-shadow : 0px 1px 2px rgb(70, 70, 70);
    /* border-left : 1px solid grey;
    border-right : 1px solid grey;
    border-bottom : 1px solid grey; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 315px;
    /* box-shadow : 0px 0px 5px rgb(70, 70, 70); */
}

.infos-top-color {
    border: 1px solid gray;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    background: rgba(211, 211, 211, 0.514);
    min-width: 315px;
    text-align: center;
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
    font-size: 1.3rem;
    letter-spacing: 5px;
    color: white;
}

.infos-recognition-title {
    /* background: linear-gradient(45deg, rgba(121,75,139) 0%, rgba(134,31,43) 100%); */
    /* background: rgb(201, 201, 201); */
    background: linear-gradient(45deg, rgb(26, 26, 26) 0%, rgba(121,75,139) 100%);
}

.infos-infos-title {
    /* background: linear-gradient(0deg, rgba(75, 85, 139) 0%, rgb(95, 63, 122) 100%); */
    /* background: rgb(201, 201, 201); */
    margin-top : 8rem;
    background: linear-gradient(45deg, rgb(26, 26, 26) 0%, rgba(75, 85, 139) 100%);
}

.home-infos-svg-div, .home-infos-text {
    display: inline-block;
    vertical-align: middle;
}

.home-infos-svg-div svg {
    padding-top : 1rem;
    padding-bottom : 1rem;
    font-size: 9rem;
}

.infos-connect-btn, .infos-docs-btn {
    margin-top : 1rem;
    border-top : 1px solid rgb(136, 136, 136);
    border-left: 1px solid rgb(136, 136, 136);
    border-right: 1px solid rgb(136, 136, 136);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top : 0.5rem;
    color: white;
    padding-bottom : 0.5rem;
    letter-spacing: 3px;
}

.infos-connect-btn {
    background: linear-gradient(45deg, rgba(121,75,139,0.85) 0%, rgba(134,31,43,0.85) 100%);
}

.infos-docs-btn {
    background: linear-gradient(0deg, rgba(75, 85, 139, 0.85) 0%, rgb(95, 63, 122, 0.85) 100%);
}

.infos-connect-btn:hover {
    background: linear-gradient(45deg, rgba(121,75,139) 0%, rgba(134,31,43) 100%);
}

.infos-docs-btn:hover {
    background: linear-gradient(0deg, rgba(75, 85, 139) 0%, rgb(95, 63, 122) 100%);
}

.home-infos-text {
    line-height: 2rem;
    font-size: 1.2em;
    padding-top : 1rem;
}

/* ---------------------------- SPEECH RECOGNITION ---------------------------- */

.microphone {
    text-align: 'center';
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

#microphone-btn {
    width: 60px;
    height: 60px;
    background: lightblue;
    border-radius: 50%;
    margin: 6em 0 2em 0;
}

#final {
    color: black;
    border: #ccc 1px solid;
    padding: 1em;
    margin: 1em;
    width: 300px;
}